body {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: linear-gradient(
    to right,
    hsl(98, 100%, 62%),
    hsl(204, 100%, 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type="submit"]{
    width: 100%;
    height: 40px;
    margin-top 20px;

    -webkit-text-fill-color: white;
    background: hsl(204, 100%, 5%);
    border: 1px solid white;
    font-size: 20px;
}