{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'polls/reset.css' %}">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <title>App Djando Aprendiendo</title>
</head>
<body>
    <header>
        <h1>Preguntas</h1>
    </header>
    <main>
        {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No polls are available</p>
        {% endif %}
    </main>
    <footer>
        <a href="nyaa.si">Nyaa</a>
        <a href="#">CAT</a>
        <a href="#">DOG</a>
        <a href="#">Frog</a>
    </footer>
</body>
</html>

