{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="{% static 'polls/results.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <p>{{ question.question_text }}</p>
    </header>
    <ul>
        {% for choice in question.choice_set.all %}
            <li>{{ choice.choice_text }} &nbsp; | &nbsp; {{ choice.votes }} vote{{ choice.votes|pluralize:"s"}}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'polls:detail' question.id %}">Do you want to vote again?</a>
</body>
</html>